<style>
    .top-bar {
        margin-top: -10px;
    }
</style>

<nav class="navbar navbar-darkblue bg-primary fill-width white no-margin no-padding-bottom">
    <div class="top-bar row no-margin topbar">
        <div class="top-bar col-md-2 logo">
              <h4>  <%= image_tag("main_icon", size: "35x35") %> Devinci</h4>
        </div>
        <div style="margin-top: -5px" class="col-md-10 row ">
                <div class="col-md-1 topbar_text"><h5>Overview</h5></div>
                <div class="col-md-1 topbar_text"><h5>Analytics</h5></div>
                <div class="col-md-1 topbar_text"><h5>Dados</h5></div>
                <div class="col-md-9"></div>
        </div>
    </div>
</nav>