
.scrolling-wrapper {
  overflow-y: scroll;
  white-space: nowrap;
  height:150px;

  .bikeHistoryInfo {
    display: inline-block;
  }
}

.batteryHeighModal{
    height: 45vh;
    margin-bottom: 120px;
    padding-top: 3%;
}